.nav{
    height: 72px;
    flex-shrink: 0;
    background-color: #000fff;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 30px;
    color: #fff;
}
.nav-menu{
    margin-bottom: 20px;
}
a{
    text-decoration-line: none;
    color: #746363;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 40px;
}
a:hover{
    color: #000fff;
}

.contents1{
    display: flex;
    justify-content: center;
}
#m1,#m2,#m3,#m4{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-top: -25px;
}
.content1,.content2,.content3,.content4{
    width: 330px;
    height: 310px;
    background-color: #ededed;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
} 
#m1:hover{
    width: 310px;
    height: 310px;
    margin-left: 10px;
    margin-top: -80px;
} 
.contents2{
    display: flex;
    justify-content: center;
}
#m5,#m6,#m7,#m8{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-top: -25px;
}
.content5,.content6,.content7,.content8{
    width: 330px;
    height: 310px;
    background-color: #ededed;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
} 
